.chat-main
  .chat-main__group-info
    .chat-main__group-info__item
      .chat-main__group-info__item__center
        test
      .chat-main__group-info__item__bottom
        Member:Masa
    .chat-main__group-info__edit
      = link_to "#", class: "edit-btn__link" do
        .chat-main__group-info__edit__btn
          Edit
  .chat-main__message-list
    .chat-main__message-list__box
      .chat-main__message-list__box__name
        Masa
      .chat-main__message-list__box__day
        2019/11/20(wed)17:34:56
      .chat-main__message-list__box__word
        おはよう
    .chat-main__message-list__box
      .chat-main__message-list__box__name
        Masa
      .chat-main__message-list__box__day
        2019/11/20(wed)17:34:56
      .chat-main__message-list__box__word
        おはよう
  .chat-main__message-from
    .chat-main__message-from__word
      .chat-main__message-from__word__text
        type a message
      .chat-main__message-from__word__photo
        %label{class: "icon-box"}
          = icon("fa","image")
          %input#filesend{type: "file"}
    .chat-main__message-from__btn
      Send