* {
  box-sizing: border-box;
}

.side-ber {
  width: 300px;
  height: 100vh;
  background-color: #253141;
  color: #ffffff;
  float: left;
  &__user-name {
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: bold;
    &__item {
      height: 20px;
      width: 260px;
      margin-left: 20px;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      &__name {
        font-size: 16px;
      }
      &__icom {
        width: 60px;
        text-align: right;
      }
    }
  }
  &__group {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &__list {
      height: 91px;
      padding: 20px 20px 40px 20px;
      &__name {
        width: 260px;
        height: 23px;
        line-height: 23px;
        margin-bottom: 5px;
        font-size: 15px;
      }
      &__word {
        width: 260px;
        height: 17px;
        line-height: 17px;
        font-size:11px;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  height: 100vh;
  float: left;
  &__group-info {
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &__item {
      height: 100px;
      width: 200px;
      margin-left:40px;
      &__center {
        height: 30px;
        margin: 35px 0 15px 0;
        line-height: 30px;
        font-size: 20px;
        color: #333333;
      }
      &__bottom {
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        display: table-cell;
        vertical-align: bottom;
        color: #999999;
      }
    }
    &__edit {
      height: 40px;
      width: 70px;
      margin:28px 40px 0 0;
      border: 1px solid;
      border-color: #38aef0;;
      &__btn {
        margin: 0 20px;
        line-height: 40px;
        color:#38aef0;;
      }
    }
  }
  .chat-main__message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 46px 0 0 40px;
    overflow: scroll;
    .upper-message {

      &__user-name {
        height: 20px;
        float: left;
        font-size: 16px;
        line-height: 20px;
        padding-right: 10px;
        color: #333333;
      }
      &__date {
        height: 20px;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 12px;
        color: #999999;
      }
    }
    .lower-message {
      font-size: 14px;
      margin-bottom: 46px;
      color: #434A54;
    }
  }
  &__message-from {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    display: flex;
    &__group {
      height: 50px;
      width: 100%;
      display: flex;
      position: relative;
      .form__message {
        padding: 0 40px 0 10px;
        width: 100%;
        display: block;
      }
      .form__mask {
        line-height: 50px;
        display: block;
        position: absolute;
        right: 10px;
      }
    }
  }
}

    .form__submit {
      background-color: #38aef0;
      height: 50px;
      width: 100px;
      line-height: 50px;
      margin-left: 15px;
      font-size: 16px;
      color: white;
      text-align: center;
    }
.item__btn--icon {
  color: white;
  padding-left: 5px;
}

.top-item-icon {
  text-decoration: none;
}

.edit-btn__link {
  text-decoration: none;
}

#filesend {
  display: none;
}

.link-group {
  color: #ffffff;
  text-decoration: none;
}

.new_message {
  display: flex;
  width: 100%;
}

.hidden {
  display: none;
}
